
table, th, td{
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
    margin: auto;
}
th{
    background-color: #36454F;
    color: white;
}
td{
    background-color: #a4d4a1;
    color: #36454F;
    font-size: bold;
}

table{
    width: 100%;
}

h3{
    text-align: center;
}
